<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>(o)(o)</title>

<!-- 
		angularjs
	-->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

<!--
		bootstrap 
	 -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous">
	
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
	crossorigin="anonymous">
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous">
</script>


<!--
		moja angular aplikacia 
	 -->
<script src="app.js"></script>
</head>

<body ng-app="myApp">

	<a ng-href="/"><button class="btn-danger">home</button></a>

	<div ng-controller="PoistovneController">
		<div class="container">
			<h2>Poisťovne client</h1>
			
			<form ng-submit="onFormSubmit()">
			
				<div class="form-group">
					<label for="vek">Vek</label>
					<input type="number" class="form-control" id="vek" ng-model="current.vek"
						min="1" max="100" required="required" placeholder="1..100">				
				</div>
				
				<div class="form-group">
					<label for="rizikovaSkupina">Rizikova skupina</label>
					<select class="form-control" id="rizikovaSkupina" ng-model="current.rizikovaSkupina" required="required"
						ng-init="current.rizikovaSkupina='1'">
						<option value="1">1</option>					
						<option value="2">2</option>
<!-- 					<option style="display:none" value="">select a type</option>  -->						
					</select>
				</div>
				
				<div class="form-group">
					<label for="nazovTypuProduktu">Typ produktu</label>
					
					<select class="form-control" id="typProduktu" ng-model="current.typProduktu"
						ng-options="item as item.nazov for item in typyProduktov | orderBy: 'nazov'"
						required="required"
					>
						 <option value="" selected="selected">Vyber typ produktu...</option>
					</select>
					
				</div>
				
				<div class="form-group">
					<label for="dobaPoistenia">Doba</label>
					<input type="number" class="form-control" id="dobaPoistenia" ng-model="current.dobaPoistenia" 
						placeholder="1..70" required="required" min="1" max="70">				
				</div>
				
				<div class="form-group" ng-if="current.typProduktu.jednotkovaSuma == 1000">
					<label for="cielovaSumaPoistenia">Suma</label>
					<select class="form-control" id="cielovaSumaPoistenia" ng-model="current.cielovaSumaPoistenia"
						ng-init="current.cielovaSumaPoistenia='10000'" required="required">
						
						<option value="1000">1 000</option>
						<option value="2000">2 000</option>
						<option value="3000">3 000</option>
						<option value="4000">4 000</option>
						<option value="5000">5 000</option>
						<option value="6000">6 000</option>
						<option value="7000">7 000</option>
						<option value="8000">8 000</option>
						<option value="9000">9 000</option>
						<option value="10000">10 000</option>
						<option value="11000">11 000</option>
						<option value="12000">12 000</option>
						<option value="13000">13 000</option>
						<option value="14000">14 000</option>
						<option value="15000">15 000</option>
						<option value="16000">16 000</option>
						<option value="17000">17 000</option>
						<option value="18000">18 000</option>
						<option value="19000">19 000</option>
						<option value="20000">20 000</option>
						<option value="21000">21 000</option>
						<option value="22000">22 000</option>
						<option value="23000">23 000</option>
						<option value="24000">24 000</option>
						<option value="25000">25 000</option>
						<option value="26000">26 000</option>
						<option value="27000">27 000</option>
						<option value="28000">28 000</option>
						<option value="29000">29 000</option>
						<option value="30000">30 000</option>
						<option value="31000">31 000</option>
						<option value="32000">32 000</option>
						<option value="33000">33 000</option>
						<option value="34000">34 000</option>
						<option value="35000">35 000</option>
						<option value="36000">36 000</option>
						<option value="37000">37 000</option>
						<option value="38000">38 000</option>
						<option value="39000">39 000</option>
						<option value="40000">40 000</option>
					</select>
				</div>
				
				<!-- HOSPITALIZACIA -->
				<div class="form-group" ng-if="current.typProduktu.jednotkovaSuma == 1">
					<label for="cielovaSumaPoistenia">Suma</label>
					<select class="form-control" id="cielovaSumaPoistenia" ng-model="current.cielovaSumaPoistenia"
						ng-init="current.cielovaSumaPoistenia='10'" required="required">
						
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
					</select>
				</div>

				<!-- CHOROBA -->
				<div class="form-group" ng-if="current.typProduktu.jednotkovaSuma == 100">
					<label for="cielovaSumaPoistenia">Suma</label>
					<select class="form-control" id="cielovaSumaPoistenia" ng-model="current.cielovaSumaPoistenia"
						ng-init="current.cielovaSumaPoistenia='1000'" required="required">
						
						<option value="1000">1 000</option>
						<option value="2000">2 000</option>
						<option value="3000">3 000</option>
						<option value="4000">4 000</option>
						<option value="5000">5 000</option>
						<option value="6000">6 000</option>
						<option value="7000">7 000</option>
						<option value="8000">8 000</option>
						<option value="9000">9 000</option>
						<option value="10000">10 000</option>
						<option value="11000">11 000</option>
						<option value="12000">12 000</option>
						<option value="13000">13 000</option>
						<option value="14000">14 000</option>
						<option value="15000">15 000</option>
						<option value="16000">16 000</option>
						<option value="17000">17 000</option>
						<option value="18000">18 000</option>
						<option value="19000">19 000</option>
						<option value="20000">20 000</option>
						<option value="21000">21 000</option>
						<option value="22000">22 000</option>
						<option value="23000">23 000</option>
						<option value="24000">24 000</option>
						<option value="25000">25 000</option>
						<option value="26000">26 000</option>
						<option value="27000">27 000</option>
						<option value="28000">28 000</option>
						<option value="29000">29 000</option>
						<option value="30000">30 000</option>
						<option value="31000">31 000</option>
						<option value="32000">32 000</option>
						<option value="33000">33 000</option>
						<option value="34000">34 000</option>
						<option value="35000">35 000</option>
						<option value="36000">36 000</option>
						<option value="37000">37 000</option>
						<option value="38000">38 000</option>
						<option value="39000">39 000</option>
						<option value="40000">40 000</option>
						
					</select>
				</div>

				
				<button type="submit" class="btn btn-warning">Send</button>
				
				<div>

<!-- 					
					<p style="margin-top: 20mm; font-size: 14pt; font-weight: bold;">Vyhovujúce poisťovne:</p>
-->					
					<h3 style="margin-top: 20mm">Vyhovujúce poisťovne:</h3>
				
					<table class="table">
						<thead>
						<tr>
							<th>P.č.</th>
							<th>Poisťovňa</th>
							<th style="text-align: center">Suma(mesačná platba)</th>
						</tr>
						</thead>
						<tbody>
					  <tr ng-repeat="p in poistovne track by $index">
						<td ng-if="$odd" style="background-color:#f1f1f1">{{ $index + 1 }}</td>
						<td ng-if="$even">{{ $index + 1 }}.</td>
					    <td ng-if="$odd" style="background-color:#f1f1f1">{{ p.nazovPoistovne }}</td>
					    <td ng-if="$even">{{ p.nazovPoistovne }}</td>
					    <td align="center" ng-if="$odd" style="background-color:#f1f1f1">{{ p.vyslednaMesacnaPlatba }}</td>
					    <td align="center" ng-if="$even">{{ p.vyslednaMesacnaPlatba }}</td>
					  </tr>
					  </tbody>
					</table>			
				</div>
				
			</form>


</body>

</html>